.round-container {
  margin: 0 auto;
  padding: 5%;
  width: 50%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: gainsboro 0 0 20px;
  -moz-box-shadow: gainsboro 0 0 20px;
  box-shadow: gainsboro 0 0 20px;
}

.div-center {
  display: flex; justify-content: center; align-items: center; height: 100vh
}
