<div class="round-container">
  <header>
    <!-- Header Start -->
    <div class="header-area header-transparrent ">
      <div class="main-header header-sticky">
        <div class="container">
          <div class="row align-items-center">
            <!-- Logo -->
            <!--<div class="col-xl-2 col-lg-2 col-md-2">
              <div class="logo">
                <a href="/home"><img src="assets/img/logo-3.png" alt="" style="width:100px; height:49px"></a>
              </div>
            </div>-->
            <div class="col-xl-10 col-lg-10 col-md-10">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a *ngIf="!authService.isAuthenticated()" (click)="onClickLogin()">Login</a></li>
                    <li><a *ngIf="!authService.isAuthenticated()" (click)="onClickRegister()">Register</a></li>

                    <li><a *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</a></li>
                    <li>
                      <a href="#" *ngIf="authService.isAuthenticated()">Products</a>
                      <ul class="submenu" *ngIf="authService.isAuthenticated()">
                        <li><a routerLink="/products">Search for products</a></li>
                        <li> <a routerLink="/add-product">Add product</a></li>
                        <li><a routerLink="/edit-profile/{{authService.username}}">Edit profile</a></li>
                      </ul>
                    </li>

                    <!--<li class="active"><a href="index.html">Home</a></li>
                    <li><a href="feature.html">Feature</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li>
                      <a href="#">Pages</a>
                      <ul class="submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="single-blog.html">Blog Details</a></li>
                        <li><a href="elements.html">Element</a></li>
                      </ul>
                    </li>-->
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>
</div>
