<div class="round-container">
  <header>
    <!-- Header Start -->
    <div class="header-area header-transparrent ">
      <div class="main-header header-sticky">
        <div class="container">
          <div class="row align-items-center">
            <!-- Logo -->
            <!--<div class="col-xl-2 col-lg-2 col-md-2">
              <div class="logo">
                <a href="/home"><img src="assets/img/logo-3.png" alt="" style="width:100px; height:49px"></a>
              </div>
            </div>-->
            <div class="col-xl-10 col-lg-10 col-md-10">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li class="pointer"><a (click)="onClickHome()">Home</a></li>
                    <li *ngIf="authService.isAuthenticated()">
                      <a>Products</a>
                      <ul class="submenu">
                        <li class="pointer"><a (click)="onClickProducts()">Search for products</a></li>
                        <li class="pointer"> <a (click)="onClickAddProduct()">Add product</a></li>
                      </ul>
                    </li>
                    <li class="pointer"><a *ngIf="!authService.isAuthenticated()" (click)="onClickLogin()">Login</a></li>
                    <li class="pointer"><a *ngIf="!authService.isAuthenticated()" (click)="onClickRegister()">Register</a></li>

                    <li class="pointer" style="margin-left: 50%" *ngIf="authService.isAuthenticated()"><a (click)="onClickEditProfile()">Edit profile</a></li>
                    <li class="pointer"><a *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>
</div>
