.round-container {
  margin: 0 auto;
  padding: 5%;
  width: 50%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: gainsboro 0 0 20px;
  -moz-box-shadow: gainsboro 0 0 20px;
  box-shadow: gainsboro 0 0 20px;
}

.div-center {
  display: flex; justify-content: center; align-items: center; height: 100vh
}

/* Form */
input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #BA58DC;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #BA58DC 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #BA58DC 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #8f1bdc;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #BA58DC;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}
