<div class="div-center">
  <div class="round-container">
    <div class="container">
      <div class="row">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <h2>Edit profile</h2>
          <input type="text" id="inputUsername" [formControlName]="'username'" name="description" placeholder="Username" autofocus="" required>
          <input type="email" id="inputEmail" [formControlName]="'email'" placeholder="Email" required="" autofocus="">
          <input type="password" id="inputPassword" [formControlName]="'password'" name="password" placeholder="Password" required>
          <input type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'" placeholder="Confirm Password" required="">
          <button class="btn btn-outline-primary" type="submit">Edit</button>
          <button class="btn btn-outline-danger ml-2"><a (click)="onDeleteUser()">Delete</a></button>
        </form>
      </div>
    </div>
  </div>
</div>
